<% if signed_in? %>
	<div class ="row-fluid">
		<div class="span4">
			<section style="margin-bottom: 15px">
			<%= render 'shared/user_info' %>
			</section>
		</div>
		<div class="span8">		
			<%= render 'shared/post_form' %>
		</div>
	</div>
<% else %>  
	<div class ="center hero-unit">
		<h1>Less is More.</h1>
		<p>Welcome to Salish.</p>

		<%= link_to "sign up now", signup_path, class: "btn btn-large btn-primary"%>
	</div>
<% end %>