<% provide(:title, 'All Tribes') %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for tribe in @tribes %>
    <tr>
      <td><%= link_to tribe.name, tribe %></td>
	
	<% if current_user.admin? && !current_user?(tribe) %>
	

      <td><%= link_to "Edit", edit_tribe_path(tribe) %></td>
	<td><%= link_to "delete", tribe, method: :delete, confirm: "You sure?" %></td>
	<% end %>
    </tr>
  <% end %>
</table>

<p><%#= link_to "New Group", new_group_path %></p>
